<h3>Lista de Productos</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Variedad</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Comprar</th>
            
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let product of products" [ngClass]="{'clearance':product.clearance}">
           <td><img [src]="product.image" [alt]="product.name"></td>
            <td>{{product.name}}</td>
            <td>{{product.variety}}</td>
            <td>{{product.price | currency}}</td>
            <td><span class="badge rounded-pill bg-danger" *ngIf="product.stock==0">Sin Stock</span></td>
            <td>
                <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-primary" (click)="addToCart(product)">Comprar</button>
            </td>
        </tr>
       
    </tbody>
</table>